.bottle {
  border: 2px solid rgb(13, 169, 89);
  border-radius: 16px;
  padding: 16px;
}
.bottle > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
.bottle > :nth-child(1) {
  color: bisque;
}

.bottle > :nth-child(2),
.bottle > p:nth-of-type(1) {
  color: aqua;
}

.bottle > :nth-child(3),
.bottle > p:nth-child(3) {
  font-size: 24px;
}
